<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>810090625829-o811g2f0rca06oh476qqfa9b8543una4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810090625829-o811g2f0rca06oh476qqfa9b8543una4</string>
	<key>API_KEY</key>
	<string>AIzaSyCvn5uPUooMAS0P6buDYxk6f9meAG9NNb8</string>
	<key>GCM_SENDER_ID</key>
	<string>810090625829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.Grandmasters</string>
	<key>PROJECT_ID</key>
	<string>thegrandmasters-1340</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810090625829:ios:1e225b61f82e2eb5</string>
	<key>DATABASE_URL</key>
	<string>https://thegrandmasters-1340.firebaseio.com</string>
</dict>
</plist>